@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Council Gaming Club IMS</h1>
    <p>Learn more about us <a href="https://beacons.ai/cgc">Join the Council!</a>.</p>
</div>
